# audio files
*.mp3
*.wav
# copies of entities
older-models
# trained entities
output/*
# do not include built rnnoise
repos/rnnoise
# generated text
test-dataset/metadata.csv
.idea/
__pycache__/
db_file.db
voice_models/
audio/
